@import "tailwindcss";

@theme {
  --font-sans:
    "Roboto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-tomato: #ff0101;
  --color-coal: #282d30;
  --color-cream: #e5e5e5;
  --color-ashes: #979797;
  --color-dust: #fbfbfb;
  --color-ashes2: #74798c;
}

@utility writing-vertical-lr {
  writing-mode: vertical-lr;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 780px;
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 18px;
  background-color: white;
  height: 100dvh;
}

.loader {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background:
    radial-gradient(farthest-side, var(--color-tomato) 95%, #0000) 50% 0/30px
      30px no-repeat,
    radial-gradient(
        farthest-side,
        #0000 calc(100% - 20px),
        var(--color-tomato) calc(100% - 20px)
      )
      content-box;
  animation: l6 1s infinite;
}
@keyframes l6 {
  to {
    transform: rotate(1turn);
  }
}

/*===== Graph score radial bar =====*/
.radial-bar-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
  padding: 30px;
}

.progress {
  width: 200px;
  height: 200px;
}
.progress .track {
  fill: yellow;
}
.progress .fill {
  fill: blue;
  stroke-width: 8;
  transform: rotate(90deg) translate(0px, -200px);
  stroke: #ff0101;
  stroke-dasharray: 597;
  stroke-dashoffset: -597;
  transition: stroke-dashoffset 3s;
}
.progress .value {
  fill: rgb(0, 0, 0);
  text-anchor: middle;
  font-size: 26px;
}
.progress .text {
  fill: var(--color-ashes);
  text-anchor: middle;
}
.noselect {
  user-select: none;
  cursor: default;
}
