@import "tailwindcss";

@theme {
  --font-sans:
    "Roboto", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tomato: #ff0101;
  --coal: #020203;
  --cream: #e5e5e5;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}